<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="header">
  <div class="hamburger-icon-container">
    <button class="hamburger-icon" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</div>

<div class="container">
  <div class="side-menu" [class.open]="isMenuOpen">
    <div class="menu-content">
      <button class="menu-button" (click)="generateFromProduct()">
        <i class="fas fa-magic"></i>
        <span>Generate From Product</span>
      </button>
      <button class="menu-button" (click)="resetCanvas()">
        <i class="fas fa-plus"></i>
        <span>New empty canvas</span>
      </button>
      <button class="menu-button" (click)="previewTemplate()">
        <i class="fas fa-eye"></i>
        <span>Preview</span>
      </button>
    </div>
  </div>

  <div class="palette">
    <h3>Available Widgets</h3>
    <div cdkDropList #paletteList="cdkDropList" [cdkDropListData]="paletteWidgets" class="palette-list" [cdkDropListConnectedTo]="[canvasList]">
      <div *ngFor="let widget of paletteWidgets" class="widget-item" [class.disabled]="widget.disabled" cdkDrag [cdkDragData]="widget" [cdkDragDisabled]="widget.disabled">
        {{ widget.name }}
      </div>
    </div>
  </div>

  <div class="canvas-wrapper">
    <div cdkDropList #canvasList="cdkDropList" [cdkDropListData]="canvasWidgets" (cdkDropListDropped)="drop($event)" class="canvas" #canvasEl>
      <div *ngFor="let widget of canvasWidgets"
           class="canvas-widget"
           cdkDrag
           [cdkDragBoundary]="canvasEl"
           [cdkDragConstrainPosition]="constrainPosition"
           (cdkDragStarted)="onDragStart($event, widget)"
           (cdkDragEnded)="onDragEnd($event, widget)"
           [attr.data-id]="widget.id"
           [ngStyle]="{ left: widget.x + '%', top: widget.y + '%', width: widget.w + '%', height: widget.h + '%' }">
        <div class="widget-title">{{ widget.name }}</div>
        <!-- Resize handles -->
        <div class="resize-handle se" (mousedown)="onResizeMouseDown($event, widget, 'se')"></div>
        <div class="resize-handle sw" (mousedown)="onResizeMouseDown($event, widget, 'sw')"></div>
        <div class="resize-handle ne" (mousedown)="onResizeMouseDown($event, widget, 'ne')"></div>
        <div class="resize-handle nw" (mousedown)="onResizeMouseDown($event, widget, 'nw')"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer" *ngIf="canvasWidgets.length > 0">
  <button (click)="previewTemplate()">Preview</button>
  <button (click)="resetCanvas()">Cancel Process</button>
</div>

<!-- Preview Modal -->
<div class="preview-overlay" *ngIf="isPreviewOpen">
  <div class="preview-modal">
    <div class="modal-head">
      <div class="title">Template Preview</div>
      <button class="close" (click)="closePreview()">✕</button>
    </div>
    <div class="modal-body">
      <div class="label-canvas" [style.width.px]="width" [style.height.px]="height">
        <ng-container *ngFor="let c of previewPayload?.components || []">
          <div class="block" [ngStyle]="toBoxStyle(c)">
            <ng-container [ngSwitch]="c.name">
              <div *ngSwitchCase="'Logo'" class="logo">amazon.com<br><small>Sender Address</small></div>

              <div *ngSwitchCase="'ShipTo'" class="shipto">
                <div class="chip">SHIP TO:</div>
                <div class="addr" [innerText]="c.data?.address || '(shipping address)'"></div>
              </div>

              <div *ngSwitchCase="'QR'" class="qr">
                <canvas appQrCode [value]="c.data?.value || 'QR123'" width="140" height="140"></canvas>
              </div>

              <div *ngSwitchCase="'BarcodeSmall'" class="barcode small">
                <div class="code">{{ c.data?.value }}</div>
                <svg appBarcode
                     [value]="c.data?.value || '123654789'"
                     [displayValue]="false"
                     [barHeight]="90"
                     [barWidth]="2"
                     [margin]="0"
                     preserveAspectRatio="none"
                     class="barcode-svg"></svg>
              </div>

              <div *ngSwitchCase="'Tracking'" class="tracking">
                <div>(Tracking Information)</div>
                <div>{{ c.data?.line2 || 'Carrier Name' }}</div>
                <div>{{ c.data?.line3 || 'Tracking #' }}</div>
              </div>

              <div *ngSwitchCase="'BarcodeLarge'" class="barcode large">
                <svg appBarcode
                     [value]="c.data?.value || 'xxxxxxxxxxxxxxxxxxxx'"
                     [displayValue]="false"
                     [barHeight]="140"
                     [barWidth]="2"
                     [margin]="0"
                     preserveAspectRatio="none"
                     class="barcode-svg"></svg>
                <div class="digits">{{ c.data?.value }}</div>
              </div>

              <div *ngSwitchCase="'Weight'" class="weight">
                <div class="icon">▮</div>
                <div class="label">Weight:</div>
              </div>

              <div *ngSwitchDefault class="generic">{{ c.name }}</div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="modal-foot">
      <button class="save" (click)="saveTemplate()">Save</button>
      <button class="close-btn" (click)="closePreview()">Close</button>
    </div>
  </div>
  <div class="backdrop" (click)="closePreview()"></div>
</div>
